<ion-card>
  <img [src]="plan.img" alt="formation" srcset="">
  <ion-card-header>
    <ion-card-subtitle>{{ plan.date_fab | date }} - {{ plan.date_exp | date }} (<span style="color: rgb(253, 145, 145);">Actif</span>)</ion-card-subtitle>
    <ion-card-title>{{ plan.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="plan">
      <div [ngSwitch]="plan.niveau">
        <h4 *ngSwitchCase="1"> <ion-label color="primary">Débutant</ion-label><br></h4>
        <h4 *ngSwitchCase="2"> <ion-label color="secondary">Junior</ion-label><br></h4>
        <h4 *ngSwitchCase="3"> <ion-label color="danger">Sénior</ion-label><br></h4>
        <h4 *ngSwitchDefault></h4>
      </div>
    </div>
    <h2>{{progression | number}}%</h2>
  </ion-card-content>
</ion-card>